{%extends 'products/base.html'%}
{%block content%}
<div style="display: flex; justify-content: center;">
    <br />
<div class="card" style=" text-align:center;width: 18rem;">
    <img class="card-img-top" src="https://lh3.googleusercontent.com/proxy/gmyCsS4LVmMfpYlZUZ1ZNvisHYOoecQwkeeuhQ_OM5fO6tuj57DRr0ZSgz0Zbuo8D_tgjrfrI3Ca9jJpb5tjpWFsDpc7Xy96UwBj1VoGs2dN-Y0CYUlb" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{request.user.username}}</h5>
      <p class = "text-muted">{{request.user.email}}</p>
      <p class="card-text">your account was created on {{request.user.date_joined}}</p>
      <a href="#" class="btn btn-primary">Back to home</a>
    </div>
  </div>
  </div>
  <br />
  <br />
  <br />

<ul class="list-group">
    <li class="list-group-item active">Your recent activities</li>
    {%for activity in activities%}
    <li class="list-group-item">{{activity.message}} on {{activity.date}}</li>
    {%endfor%}
  </ul>
{%endblock%}